<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="homepage">
		<form method="POST" action="/tweet">
			<input type="text" name="username">
			<input type="text" name="status">
			<input type="submit" value="submit">
		</form>
  </div>

</body>
</html>

