<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
	<h1><%= @tweet.username %>: <%= @tweet.status %></h1>
  </div>

</body>
</html>